<div class="row justify-content-center">
  <div class="col-6  bg-light py-5 rounded shadow">
    <div class="">
      <%= gravatar_for @user, size: 200 %>
      <h1 class="text-center"><%= @user.username %></h1>
    </div>

    <div class="mt-2 text-center">
      <% if logged_in? && @user == current_user%>
      <%= link_to "Edit profile", edit_user_path(@user), class: "btn btn-sm btn-success"%>
      <% end %>
    </div>
  </div>
</div>

<div class="mt-5">
  <h3 class="text-center">Articles</h3>
  <%= will_paginate @articles, class: 'apple_pagination'%>
  <%= render "articles/article" %>
  <%= will_paginate @articles, class: 'apple_pagination'%>
</div>